* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
}
form {
  width: 80%;
  margin: auto;
}

input {
  width: 100%;
}

input[type="color"],
input[type="date"],
input[type="range"] {
  width: 12%;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type="text"]:focus {
  border: 3px solid #7de9f9;
}

button {
  background-color: #7ac8d4;
  border-radius: 10px;
  border: 1px solid #7ac8d4;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 4px;
  cursor: pointer;
}

legend {
  background-color: rgba(122, 200, 212, 0.5);
  color: #fff;
  padding: 3px 6px;
}

fieldset {
  border: 2px solid rgba(122, 200, 212, 0.5);
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin-top: 2%;
  margin-bottom: 2%;
}

label {
  display: inline-block;
}

.radio {
  background-color: #fff;
  display: block;
  margin: 10px 0;
  position: relative;
}

input[type="radio"] {
  position: absolute;
}

.selectRadio {
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: #fcf9f9ef;
  padding: 1%;
}

ul {
  /* list-style: none; */
  margin-left: 2%;
}

/* .task {
  padding-bottom: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: justify;
} */

li {
  margin-bottom: 1%;
  margin-top: 1%;
}
